<div class="landing-content">
    <section id="splashscreen" class="section">
        <div class="section-content">
            <h1 class="title">Persistent Games</h1>
            <h2 class="subtitle">The New Standard for Mixed Reality Experiences</h2>
        </div>
    </section>

    <section id="description" class="section">
        <div class="section-content">
            <h2>Description</h2>
            <p>The goal is to lead the way in developing immersive and interactive mixed reality experiences that captivate users and push the limits of what's possible in entertainment, blending creativity and innovation to create dreamlike digital worlds.</p>
        </div>
    </section>

    <section id="the-works" class="section">
        <div class="section-content">
            <h2>The Works (game in development)</h2>
            <div class="project-description">
                <p>Step into the nostalgic world of "The Works," a virtual reality game set inside a closed soda factory. Your mission? Produce one last batch of sodas before the facility is destroyed forever. Navigate through various zones, repair machinery, and solve puzzles with physically accurate interactions like cable simulation, crane operation, and more.</p>
                
                <p>Immerse yourself in the retro visual style inspired by early 3D games on consoles like the Nintendo 64 and PlayStation 1. Experience the mystery of the main character's identity and memory loss, guided by a company assistant through radio transmissions. Discover the truth behind the assistant's AI nature and the ultimate test of your problem-solving skills.</p>
                
                <p>"The Works" offers a unique blend of innovative gameplay mechanics, nostalgic visuals, and an intriguing storyline that will keep you hooked from start to finish. Are you ready to take on the challenge?</p>
            </div>
        </div>
    </section>

    <section id="game-engine" class="section">
        <div class="section-content">
            <h2>A game engine for the new VR standard</h2>
            <p>An all-in-one game engine designed for mixed reality development offers a range of features to aid developers in creating immersive experiences and accelerating the development process. These features include:</p>
            <ul>
                <li>Physically Based Rendering (PBR) textures optimized for VR</li>
                <li>Intuitive controller and hand interactions</li>
                <li>Automatic collider generator</li>
                <li>Integrated chatbot</li>
                <li>Physics engine optimized for VR with enhanced stability</li>
                <li>Multiple techniques for softbody simulation</li>
                <li>Hand auto-posing and object grabbing</li>
                <li>Stable car controller</li>
                <li>Physics-based animation</li>
                <li>Mobile and cloud versions with WebXR export capabilities</li>
            </ul>
        </div>
    </section>

    <section id="future-projects" class="section">
        <div class="section-content">
            <h2>Future Projects</h2>
            
            <div class="projects-container">
                <div class="project">
                    <h3>Dark Fantasy Game</h3>
                    <p>Drawing inspiration from the aesthetics and tone of 1980s dark fantasy films such as "The Dark Crystal," "The NeverEnding Story," and "Legend," this game invites you to explore an extraordinary world filled with numerous places to discover, yet teeming with perilous creatures.</p>
                </div>

                <div class="project">
                    <h3>Frutigger Aero</h3>
                    <p>Drawing primarily from the Frutigger Aero aesthetic, as well as Y2K, Frutigger Eco and Dreamcore, this experience offers a glimpse into a futuristic vision that never materialized. Engage with fluid interactions throughout this world, enjoy refreshing beverages, swim in a pool brimming with fish, solve water-based puzzles, and immerse yourself in a vibrant, life-filled environment.</p>
                </div>
            </div>
        </div>
    </section>
</div>
