<nav class="navbar">
  <ul class="nav-menu">
    <li><a href="#splashscreen" [class.active]="activeSection === 'splashscreen'">Home</a></li>
    <li><a href="#description" [class.active]="activeSection === 'description'">Description</a></li>
    <li><a href="#the-works" [class.active]="activeSection === 'the-works'">The Works</a></li>
    <li><a href="#game-engine" [class.active]="activeSection === 'game-engine'">Game Engine</a></li>
    <li><a href="#future-projects" [class.active]="activeSection === 'future-projects'">Future Projects</a></li>
    <li><a href="#contact" [class.active]="activeSection === 'contact'">Contact</a></li>
  </ul>
</nav>

<router-outlet />